<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><span style="text-transform: capitalize;"><%= category %></span></h1>
    <ul>
        <% groceriesByCat.forEach(function(g) { %>
            <li>
                <%= g.item %>  [<%= g.quantity %>]
            </li>
        <% }) %>
    </ul>
    <h4><a href="/groceries">Return To List</a></h4>
</body>
</html>